/* HABILIDADES */
.habilidades .container-habilidades .row{    
    text-align: center;    
    justify-content: center;    
    flex-direction: row;
}

.habilidades .container-habilidades .informacoes{
    max-width: 350px;
    padding: 40px 20px;    
}

.habilidades .container-habilidades .informacoes p,
.habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo i{
    transition: all 0.3s ease; /* somente o transition funcionaria na maioria dos navegadores */
    -moz-transition: all 0.3s ease; /* fallback para garantir que vai funcionar no mozilla */
    -o-transition: all 0.3s ease; /* fallback para garantir que vai funcionar no opera */
    -webkit-transition: all 0.3s ease; /* fallback para garantir que vai funcionar no IE */
}

.habilidades .container-habilidades .informacoes:hover p,
.habilidades .container-habilidades .informacoes:hover h3,
.habilidades .container-habilidades .informacoes:hover .logo i{
    color: var(--cor-primaria);
}

.habilidades .container-habilidades .informacoes h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--cor-primaria);      
}

.habilidades .container-habilidades .informacoes p {
    font-size: 1.8rem;
    font-family: var(--fonte-secundaria);
}

.habilidades .container-habilidades .informacoes .logo i {
    font-size: 8rem;
}